[user]
	email = zulcss@gmail.com
	name = Charles Short
[gitreview]
	username = zulcss

[url "git+ssh://zulcss@git.launchpad.net/"]
    insteadof = lp:
[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = true
  pager = true
